body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1f5fe;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px #333;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    box-sizing: border-box;
}

.form-group textarea {
    height: 50px;
    resize: vertical;
}
table{
    padding-bottom: 20px;
    width: 80%;
}
button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: flex-start;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    .form-group input,
    .form-group textarea {
        font-size: 0.9em;
    }
    
    button[type="submit"] {
        font-size: 1em;
    }
}
